<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acesso do Cliente</title>
</head>
<body>
  <div id="slide"></div>
  <div id="login">
    <form action="">
      <label for="">E-mail/ID</label>
      <input type="text" name="usuario" id="usuario">

      <label for="">Senha</label>
      <input type="text" name="senha" id="senha">
      
      <input type="text" name="" id="button" value="Entrar">
    </form>
  </div>
</body>
</html>